* {
  padding: 0;
  margin: 0;
  outline: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
img,
button,
span,
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans_bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

/* universel end */

/*  common section header start   */
.common_header {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.common_header h2 {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}
.common_header h2 .underline {
  text-align: left;
  position: absolute;
  left: 0%;

  bottom: -25%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.common_header h2 .underline li:first-child {
  height: 5px;
  width: 47%;
}
.common_header h2 .underline li:nth-of-type(2) {
  height: 5px;
  width: 5px;
  margin-left: 3px;
}
.common_header h2 .underline li:nth-of-type(3) {
  height: 5px;
  width: 3px;
  margin-left: 2px;
}
.common_header h2 .underline li:nth-of-type(4) {
  height: 5px;
  width: 2px;
  margin-left: 2px;
}
/*  common section header start   */

/* -------------------------------------------------------------*/

/* top_header css start */
header {
  background-color: #0872b9;
  padding: 12px 0;
}
header * {
  color: white;
}
header .top_header_text {
  font-size: 14px;
}

header .top_header_icon li a {
  transition: 0.5s;
  padding-left: 24px !important;
  font-size: 14px;
}
header .top_header_icon li:hover a * {
  color: black;
  transition: 1s;
}
@media (max-width: 580px) {
  .justify-content-end {
    justify-content: center !important;
  }
  header .top_header_icon li {
    padding: 0 !important;
  }
  header .top_header_icon li a {
    padding: 2px 8px;
    font-size: 25px;
  }
  .top_header_text {
    text-align: center;
    font-size: 40px !important;
  }
}
@media(max-width:300px){
  .top_header_text {
    text-align: center;
    font-size: 30px !important;
  }
  header .top_header_icon li a {
    padding: 2px 5px !important;
    font-size: 25px;
  }
}
/* top_header css end -----------------------*/
/* navbar css start */
.navbar-nav{
   padding: 18px 0;
}
.navbar-nav li a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}
.navbar-nav li a:hover {
  color: #5bc5f4;
}
.navbar-nav li a:hover .active {
  color: #5bc5f4;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #5bc5f4;
}

/* navbar css end --------------------------------*/
/* bannar css start */
.bannar {
  background-image: url(../psd/images/bannar_slider.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .bannar * {
  font-family: "Oswald", sans-serif;
} */
.bannar .bannar_overlay {
  background-image: url(../psd/images/bannar_overlay.png);
  padding: 88px 0;
  background-position:top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: .8;
}
.bannar .bannar_overlay .bannar_contet h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.bannar .bannar_overlay .bannar_contet h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 15px 0px 30px 0px;
  font-size: 40px;
  font-weight: 700;
}
.bannar .bannar_overlay .bannar_contet p {
  margin-bottom: 30px;
  }
.bannar .bannar_overlay .bannar_contet button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  border:2px solid white;
  padding: 5px 15px;
}
.bbtn{
  margin-right: 20px;
}
.bannar .bannar_overlay .bannar_contet .btn:hover {
  border:2px solid transparent;
}
/* bannar css end  ----------------------*/

/* about css start */
.about_content p{
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 27px;
}
/* about css end ----------------------*/

/* service html start */
.service_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: #f1f1f1;
}

.service_card:hover {
  box-shadow: 1px 1px 4px 4px #e0e0e0;
  transition: 0.5s;
}
.service_card .fabicon {
  height: 80px;
  width: 80px;
  background-color: #f1f1f1;
  border:3px solid white;
  border-radius: 50%;
  margin-top: -38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.service_card .fabicon .service_img_div{
  height: 70px ;
  width: 70px;
  background-color: #f1f1f1;
  border:2px solid white;
  border-radius: 50%;
 
}
.service_card .fabicon .service_img_div img {
  border-radius: 50%;
  border: 4px solid transparent;
  transition: 1s;
}

.service_card:hover .fabicon{
  background-color:  rgb(40, 142, 182);
  transition: 0.5s;
}
.service_card:hover .fabicon .service_img_div{
  background-color:  rgb(40, 142, 182);
  transition: 0.5s;
}
/* .service_card:hover .fabicon img {
  background-color: #5bc5f4;
  transition: 1s;
} */
.service_card_body h2{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(53, 53, 53);
    text-transform: uppercase;
  
}
.service_card_body p{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(85, 85, 85);
  
}
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .service_card {
    margin: 50px;
  }
}
@media (max-device-width: 480px) {
  .service_card {
    margin: 35px 0;
  }
}

/* service html end --------------------*/
/* protfolio html start*/
.protfolio_img {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.protfolio_img img {
}
.protfolio_img div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: scale(0);
}
.protfolio_img div i {
  font-size: 20px;
  height: 60px;
  width: 60px;
  background-color: #5bc5f4;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s;
}
.protfolio_img:hover div {
  visibility: visible;
  opacity: 1;
  background-color: #293035a9;
  transition: 0.5s;
  transform: scale(1);
}
.protfolio_img:hover div i {
  transform: rotate(70deg);
  transition: 1.1s;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .protfolio_img {
  }
}
/* protfolio html end --------------------*/
/* our team member css start   */
.team_card {
  position: relative;
  overflow: hidden;
  margin: 0 15px;
}


.team_overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(14, 13, 13, 0.539);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  transition: 0.7s;
}
.team_cardes:hover .team_overlay {
  width: 35%;
  visibility: visible;
  opacity: 1;
}

.Web_Designer {
  font-size: 14px;
  font-family: "Oswald";
  color: rgb(85, 85, 85);
}

.member h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.team_card .member b {
  font-size: 14px;
  font-family: "Oswald";
  color: rgb(85, 85, 85);
}
.team_cardes:hover .member h3 {
  color: #5bc5f4 !important;
}
.team_overlay li a {
  margin: 8px auto;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: rgb(255, 255, 255);
}

.team_overlay li a:first-child {
  margin-top: 0;
}
.team_overlay li {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.team_overlay li a i {
  font-size: 20px;
}
.team_overlay li.overlay_li a:hover {
  background-color: #5bc5f4 !important;
}
/* our team member css end  -------------------- */


/* Testimonial css start  */
.textimonial_info *{
   font-family: "Oswald", sans-serif;
} 
.textimonial_info  .fa {
   font-family: var(--fa-style-family, "Font Awesome 6 Free");
   font-weight: var(--fa-style, 900);
 }
.textimonial_info {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textimonial_info h2 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}
.textimonial_info .textimonial_cone {
  position: absolute;
  background-color: #f1f1f1;
  top: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(44deg);
  z-index: -1;
  display: block;
}
.p_text_textimonial{
   padding: 0 !important;
   margin: 0 !important;
}
.p_text_textimonial_2{
   line-height: 25px;
}
/* Testimonial css end -----------------------*/
/* footer css start */
.footertext h2 {
  font-size: 16px;
  font-weight: medium;
  padding: 30px 0;
}
.footertext * {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.footer_nav_address li {
  margin-bottom: 12px;
}
.footer_nav_item li {
  margin-bottom: 15px;
}
.footer_nav_item li div:first-child {
  margin-right: 40px;
}
.footer_nav_item li div:hover a {
  color: #5bc5f4;
}
.footertext .fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
}
.fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
  font-family: "Font Awesome 6 Free";
}
.footer_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.footer_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* footer css end--------------------- */
/* button coppy_right_bar start */
.coppy_right_bar {
  background-color: #555555;
}
/* button coppy_right_bar end */

/* btnscrol start */
.btnscrol{
  position: fixed;
  right: 40px;
  bottom: 100px;
  background-color:#5bc5f4 ;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  border: none;
  display: none;
}
.btnscrol i{
  font-weight: bolder;
  font-size: 30px !important;
  
}
/* btnscrol end */
/* =============================================== */






.slick-dots li button::before {
  width: 25px;
	height: 7px;
  border-radius: 20%;
  border: 1px solid black;

  content: '';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.slick-dots li.slick-active button::before {
	opacity: .75;
	background-color: rgb(40, 142, 182);
  width: 25px;
	height: 7px;
  border-radius: 20%;
  content: '';
}
.slick_right {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color:rgb(40, 142, 182);
	line-height: 50px;
	text-align: center;
  position: absolute;
  left:-2%;
  top: 36%;

}
.slick_left{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color:rgb(40, 142, 182);
	line-height: 50px;
	text-align: center;
  position: absolute;
  right: -2%;
  top: 36%;
  z-index: 10;

}

